body {
    padding: 0;
    margin: 0;
    background-color: #191919;
}

a {
    text-decoration: none;
}

.AllTop {
padding-top: 10px;    
}

.SignIn {
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
}

.SignIn:after {
    content: "";
    position: absolute;
    background-color: #386EA8;
    height: 3px;
    width: 0;
    margin-top: 28px;
    border-radius: 10px;
    transition: 0.3s;
}

.SignIn:hover::after {
    width: 53px;
}

.SignUp {
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
}

.SignUp:after {
    content: "";
    position: absolute;
    background-color: #386EA8;
    height: 3px;
    width: 0;
    margin-top: 28px;
    border-radius: 10px;
    transition: 0.3s;
}

.SignUp:hover::after {
    width: 60px;
}

#Box1 {
    width: 100%;
    height: 80px;
    background-color: #212644;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}



.Burger1 {
    display: flex;
    align-items: center;
    gap: 40px;
}



.RightSide {
    display: flex;
    align-items: center;
    gap: 40px;
}

.Burger {
    background-image: url(HeadlinePics/Burger.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 27px;
    cursor: pointer;
}

.Logo {
    color: white;
    cursor: pointer;
    font-family: 'Koulen', sans-serif;
    letter-spacing: 5px;
    font-size: 30px;
}


#Search {
    background-color: #100F1F;
    border: none;
    border-radius: 30px;
    width: 40%;
    height: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
}

.hubb {
    display: flex;
    position: absolute;
    z-index: 1000;
    color: white;
    flex-direction: column;
    left: 10px;
    display: none;
}

.lineee {
    width: 150px;
    height: 50px;
    background-color: #191919;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.lineee:hover {
    background-color: #101010;
}

.hubb a {
    color: white;
    text-decoration: none;
    font-style: none;
}

.genres-submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%; 
    background-color: #191919;
}

.genres-submenu a {
    display: block; 
    /* padding: 10px;  */
    color: white;
    text-decoration: none;
}

.genres-link:hover .genres-submenu {
    display: block;
}

.lineee2 {
    width: 150px;
    height: 50px;
    background-color: #191919;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    /* gap: 20px; */
}

.lineee2:hover {
    background-color: #101010;
}


.MoviesCard1 {
    display: flex;
    gap: 193px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 300px;
    /* background-color: red; */
}

.Pic {
    background-image: url(Pictures/Donnie.jpg);
    background-repeat: no-repeat;
    width: 354px;
    height: 200px;
    background-size: 100%;
    cursor: pointer;
}


.Pic2 {
    background-image: url(Pictures/Interstellar.jpg);
    background-repeat: no-repeat;
    width: 354px;
    height: 200px;
    background-size: 100%;
    cursor: pointer;
}

.Pic3 {
    background-image: url(Pictures/Inception.jpg);
    background-repeat: no-repeat;
    width: 354px;
    height: 200px;
    background-size: 100%;
    cursor: pointer;
}

.RatingFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8px;
    padding-top: 128px;
}

.IMDB {
    background-image: url(Pictures/IMDB.png);
    background-repeat: no-repeat;
    width: 58px;
    height: 45px;
}

.Rating {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.NameFlex {
    display: flex;
    align-items: center;
}

.MovieName {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.MovieName1 {
    cursor: pointer;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.HighestMovies {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-left: 35px;
    margin-top: 40px;
}

.MoviesCard2 {
    display: flex;
    gap: 193px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 300px;
}

.PicS {
    background-image: url(Pictures/Shawshank.jpg);
    background-repeat: no-repeat;
    width: 354px;
    height: 195px;
    background-size: 100%;
    /* margin-left: 35px; */
    /* margin-top: 35px; */
    cursor: pointer;

}

.PicG {
    background-image: url(Pictures/Godfather.jpg);
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
    background-size: 100%;
    /* margin-left: 35px; */
    /* margin-top: 35px; */
    cursor: pointer;
}

.MovieNameG {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    cursor: pointer;
    /* margin-left: 35px; */
}

.PicB {
    background-image: url(Pictures/Batman.jpg);
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
    background-size: 100%;
    /* margin-left: 35px;
    margin-top: 35px; */
    cursor: pointer;
}

.MovieNameB {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    cursor: pointer;
    /* margin-left: 35px; */
}

h4 {
    color: #386EA8;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-decoration: underline;
}

h4:hover {
    color: white;
    transition: 0.3s ease;
    cursor: pointer;
}

.TVshows {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-left: 35px;
    margin-top: 40px;
}

.Film3 {
    background-image: url(Pictures/Film3.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 49px;
}

.PicBR {
    background-image: url(Pictures/Breaking-Bad.jpg);
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
    background-size: 100%;
    /* margin-left: 35px;
    margin-top: 35px; */
    cursor: pointer;
}

.PicT {
    background-image: url(Pictures/TWD.jpg);
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
    background-size: 100%;
    /* margin-left: 35px;
    margin-top: 35px; */
    cursor: pointer;
}

.PicF {
    background-image: url(Pictures/Fleabag.jpg);
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
    background-size: 100%;
    /* margin-left: 35px;
    margin-top: 35px; */
    cursor: pointer;
}

.Film4 {
    background-image: url(Pictures/Film4.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 45px;
}

.Anime {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-left: 35px;
    margin-top: 40px;
}

.PicOP {
    background-image: url(Pictures/OnePiece.jpg);
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
    background-size: 100%;
    /* margin-left: 35px;
    margin-top: 35px; */
    cursor: pointer;
}

.PicCE {
    background-image: url(Pictures/Cyebr.jpg);
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
    background-size: 100%;
    /* margin-left: 35px;
    margin-top: 35px; */
    cursor: pointer;
}

.PicBL {
    background-image: url(Pictures/Bleach.jpg);
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
    background-size: 100%;
    /* margin-left: 35px;
    margin-top: 35px; */
    cursor: pointer;
}

.Hidden1 {
    display: none;
}

.Hidden2 {
    display: none;
}

.Footer {
    width: 100%;
    height: auto;
    background-color: #212644;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.Logo2 {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    padding-top: 10px;
}

.rec1 {
    height: 8px;
    width: 123px;
    background-color: white;
}

.FootLog {
    font-family: "Koulen", sans-serif;
    color: white;
    letter-spacing: 10px;
    font-size: 45px;
}

.socials1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    cursor: pointer;
    /* gap: -227px; */
    /* margin-top: px; */
}

.footerPoints {
    width: 100%;
    display: flex;
    justify-content: center;
    /* cursor: pointer; */
    gap: 400px;
    padding-top: 10px;
    margin-right: 100px;
}

.flexi {
    display: flex;
    align-items: center;
    /* cursor: pointer; */
    gap: 15px;
}

.niger {
    display: flex;
    flex-direction: column;
    /* cursor: pointer; */
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
}

.soc1 img {
    width: 44px;
    height: 64px;
    cursor: pointer;
    justify-content: flex-start;
}

.soc2 img {
    width: 70px;
    height: 69px;
    justify-content: flex-start;
    cursor: pointer;
}

.soc3 img {
    width: 68px;
    height: 68px;
    justify-content: flex-start;
    cursor: pointer;
}

.soc4 img {
    width: 72px;
    height: 72px;
    justify-content: flex-start;
    cursor: pointer;
}

.soc5 img {
    width: 68px;
    height: 68px;
    justify-content: flex-start;
    cursor: pointer;
}

.socials {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 20px;
    margin-top: 5px;
}

.socials2 {
    display: flex;
    /* flex-direction: column; */
    justify-content: start;
    cursor: pointer;
    gap: 20px;
    margin-top: 5px;
}

.dddd {
    gap: 35px;
    display: flex;
    cursor: pointer;
}

.links {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
    /* cursor: pointer; */
    font-weight: 600;
}

.socials1 .links:hover {
    color: #386EA8;
    cursor: pointer;
}

.circ1 {
    width: 15px;
    height: 15px;
    background-color: #386EA8;
    border-radius: 50%;
    /* cursor: pointer; */
}

.Rights {
    color: #636363;
    font-family: 'Inter', sans-serif;
}
